<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.retailerp.manager.dao.sys.MenuMapper">
	<select id="findMenuByRoleIds" parameterType="java.util.List"
		resultType="com.retailerp.pojo.sys.Menu">
		select DISTINCT m.* from sys_menu m inner join sys_roleInMenu rm
		on m.id = rm.menuId
		<where>
			<if test="list!=null and list.size() > 0">
				and rm.roleId in 
				<foreach collection="list" item="item" open="("
					separator="," close=")">
					#{item}
				</foreach>
			</if>
		</where>
	</select>
	
	<select id="getMenuRecordCount" resultType="int" parameterType="com.retailerp.common.pojo.web.sys.MenuQueryPageParameter">
		select count(1) from sys_menu
		
		<where>
			<if test="name!=null and name!=''">
				and name like CONCAT('%',#{name},'%') 
			</if>
		</where>
	</select>
	
	<select id="getMenus" parameterType="com.retailerp.common.pojo.web.sys.MenuQueryPageParameter" resultType="com.retailerp.pojo.sys.Menu"  >
		select * from sys_menu 
		
		<where>
			<if test="name!=null and name!=''">
				and name like CONCAT('%',#{name},'%') 
			</if>
		</where>
		
		limit #{startRow},#{limit}
	</select>
	
	
	<select id="findMenuById" parameterType="int" resultType="com.retailerp.pojo.sys.Menu">
		select * from sys_menu where id = #{id}
	</select>
	
	
	<delete id="delMenuById" parameterType="int">
		delete from sys_menu where id = #{id}
	</delete>
	
	<update id="updateMenu" parameterType="com.retailerp.pojo.sys.Menu">
		update sys_menu 
		set name = #{name}, url = #{url}, updateTime=#{updateTime},status=#{status}
		where id = #{id}
	</update>
</mapper>